#signin-form {
    padding: 3rem;
    background-color: rgb(224, 237, 203);
    height: 100vh;
}

#signin-banner {
    background-color: red;
}

#footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(134, 203, 30);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
}