#banner-container {
    background-color: rgb(3, 47, 33);
    height: 15vmin;
    padding: 4rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}