#form {
    height: 100vh;
}

#footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(134, 203, 30);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
}

#signup-container {
    background-color: rgb(224, 237, 203);
}

#account {
    text-align: center;
    padding-top: 2rem;
}