#register-background {
    background: white;
    padding: 2rem;
}

#register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account-section {
    padding: 2rem;
}